/* Marker positioning */
.marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: navy;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 2; /* Markers are above the map */
}

/* Event text styling */
.marker div {
  z-index: 999; /* Make sure the event text appears above the map and marker */
  white-space: nowrap;
  word-wrap: break-word; /* Ensure text wraps if it’s too long */
}

/* Hover image styling */
.hover-image {
  position: absolute;
  width: 1000px; /* Increased size */
  max-width: none; /* Removes default limits */
  height: auto;
  display: block;
  border-radius: 15px;
  bottom: 110%; /* Keeps it just above the marker */
  left: 50%;
  transform: translateX(-50%) scale(0.9); /* Default smaller size */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 10;
}

.marker:hover .hover-image {
  opacity: 1;
  transform: translateX(-50%) scale(1.2); /* Enlarges on hover */
}
